---

# validation

- name: assert all vars are set
  assert: { that: "{{ item }} != '' " }
  with_items:
  - service_plist_file_path
  - installation_folder

# update service
- name: stop the old service
  command: "launchctl unload {{ service_plist_file_path }}"
  become: yes
  notify:
    - start the service

- name: kill adb processes
  shell: |
    killall adb
  register: killadbresults
  changed_when: killadbresults.rc == 0
  failed_when: killadbresults.rc != 0 and killadbresults.rc != 1
  become: yes

- name: copy plist
  template:
    src: service.plist.j2
    dest: "{{ service_plist_file_path }}"
    # in mac - plist owner is root
    owner: root
  become: yes


# fixed xcode select

- name: Fix xcode select
  shell: xcode-select -s /Applications/Xcode.app/Contents/Developer/
  become: yes


 ## Issue - need to verify this command
- name: run mac xcode tools for ehm
  command: "/bin/sh {{ installation_folder }}/conf/plist/macXcodeTools.sh {{ mac_ehm_user }}"
  become: yes

- name: add permission to /tmp/experitest_simulators folder
  file:
    path: "/tmp/experitest_simulators"
    state: directory
    recurse: yes
    mode: u+rwx,g+rw,o+rw
    owner: "{{ mac_ehm_user }}"
  become: yes

- name: change owner of installation folder to current user for android support
  file:
    path: "{{ installation_folder }}"
    state: directory
    recurse: yes
    owner: "{{ ansible_user_id }}"
  become: yes

